@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

/*  more usable css  */
.big-icon{
  font-size: 100px;
}

/* body style start here */
.App {
  
 
  background-color:#ddd;
  
  
  
}
/* header style start here */
.text-white{
  text-decoration: none;
  line-height: 80px;
 
}
/* header style end here */
/* homepage style start here */
.home-container{
  background-image: url(./image/hospital-banner-doctors-staff-14949021.jpg);
  background-repeat: no-repeat;
  margin-top: 80px;
  width: 100%;
  height:650px;
  
}
.home{
  text-align: left;
  color: rgba(255, 255, 255, 0.973);
  font-family: 'Oswald', sans-serif;
  
  
}


.banner-text{
 background-color: rgba(8, 66, 133, 0.226);
 display: inline-block;
 border-radius: 8px;
}




 

/* homepage style end here */


/* Apoinment section start here */

.apoinment{
  background: rgba(252, 144, 144, 0.322);
}
.apoinment-button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left:0px;

}
/* Apoinment section end  here */

/* service container */


.service-container{
  margin-top: 90px;
}

